## PA3_JMO, Justin Odle, FA 22

In [9]:
names= ['John', 'Sally', 'Sam', 'Brenda', 'Julie', 'Amanda']
print(names)

['John', 'Sally', 'Sam', 'Brenda', 'Julie', 'Amanda']

# Append can be used to add an item to the end of a list.

In [10]:
names.append('Mason')
print(names)

['John', 'Sally', 'Sam', 'Brenda', 'Julie', 'Amanda', 'Mason']

# Extend can also be used to add multiple items to a list.

In [11]:
names2= ['Ralph', 'Bob']
print(names2)

['Ralph', 'Bob']

In [12]:
names.extend(names2)
print(names)

['John', 'Sally', 'Sam', 'Brenda', 'Julie', 'Amanda', 'Mason', 'Ralph', 'Bob']

# Insert can be used to insert an item to any position within a list.

In [13]:
names.insert(3, 'Amber')
print(names)

['John', 'Sally', 'Sam', 'Amber', 'Brenda', 'Julie', 'Amanda', 'Mason', 'Ralph', 'Bob']

# Remove can be used to remove an item by value from a list.

In [14]:
names.remove('Brenda')
print(names)

['John', 'Sally', 'Sam', 'Amber', 'Julie', 'Amanda', 'Mason', 'Ralph', 'Bob']

# Count can be used to find the number times an item occurs in a list.

In [15]:
names.count('Amanda')

1

# Index can be used to find the position of a item in a list.

In [16]:
names.index('Julie')

4

# Pop can be used to remove an item from a list, but it lets you work with that item after removing it.

In [17]:
names.pop(3)
print(names)

['John', 'Sally', 'Sam', 'Julie', 'Amanda', 'Mason', 'Ralph', 'Bob']

# The sorted function can be used to display a list in a particular order but does not permantely change the list order.

In [19]:
print(sorted(names))

['Amanda', 'Bob', 'John', 'Julie', 'Mason', 'Ralph', 'Sally', 'Sam']

# The copy function can be used to change parts of a list to a new one.

In [31]:
Best_friends_names = names[1:6]
print("My friends names are:")
print(names)

print("\nMy best friends names are:")
print(Best_friends_names)

My friends names are:
['Amanda', 'Bob', 'John', 'Julie', 'Mason', 'Ralph', 'Sally', 'Sam']

My best friends names are:
['Bob', 'John', 'Julie', 'Mason', 'Ralph']

# The clear function removes all elemets from a list.

In [36]:
names.clear
print('list after clear():')

list after clear():

# Lists are used to create ordered ordered collections that can be accessed and changed.

In [49]:
sales_numbers = [5, 15, 25, 30, 63, 58]
print(sales_numbers)

[5, 15, 25, 30, 63, 58]

# The len function can be used to find the length of a list.

In [50]:
len(sales_numbers)

6

# The max fucntion will retun the item with the highest value from the list.

In [51]:
print(max(sales_numbers))

63

# The min function will return the item with the lowest value from the list.

In [52]:
print(min(sales_numbers))

5